<nav id="navbar-example2" class="navbar bg-light px-3">
    <a class="navbar-brand" href="/">Навигация</a>
    <ul class="nav nav-pills">
        {% if test_status.0 %}
            <li class="nav-item"><a class="nav-link" href="{% url 'quiz:quiz_generate_oge' %}">Продолжить тест по ОГЭ</a></li>
        {% endif %}
        {% if test_status.1 %}
            <li class="nav-item"><a class="nav-link" href="{% url 'quiz:quiz_generate_ege' %}">Продолжить тест по ЕГЭ</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'show_all_people' %}">Все пользователи</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'quiz:quiz_generate_type' %}">Генерация тестов</a></li>
             {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/user/logout/">logout</a></li>
                 {% else %}
                <li class="nav-item"><a class="nav-link" href="/user/sign-up/">sign-up</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/login/">login</a></li>
            {% endif %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
    <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'news:news_list' %}">Глоссарий</a></li>
         {% if request.user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'dialogs' %}">dialogs</a></li>
        <li><a class="dropdown-item" href="{% url 'quiz:quiz_category' %}">category test</a></li>
        <li><a class="dropdown-item" href="{% url 'lk:home' %}">personal account</a></li>
        <li><a class="dropdown-item" href="{% url 'shop:category' %}">shop</a></li>
        {% endif %}
        {% if user.is_staff %}
        <li><a class="dropdown-item" href="{% url 'quiz:quiz_create_app' %}">quiz create for admin</a></li>
        <li><a class="dropdown-item" href="{% url 'index' %}">chat2</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        {% endif %}
    </ul>
  </li>
    </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
</div>