{% extends 'quiz/base.html' %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
{% for item in quiz %}
    <div class="container card-body col-md border border-primary shadow-lg p-3 mb-5 bg-body rounded">
    <h4>Задание № {{ forloop.counter }}   </h4>
    <hr style="color:blue;">
    {% autoescape off %}
    {{ item.question }}
    {% endautoescape %}
    <p>Введите ответ на {{ forloop.counter }} <input type="text" name="answer{{ forloop.counter }}"></p>
    </div>
{% endfor %}
<div class="container card-body col-md-4 border border-primary shadow-lg p-3 mb-5 bg-body rounded">

    <button type="submit" name="answer">отправить</button>
</div>
</form>
{% endblock body %}

