{% extends 'quiz/base.html' %}
{% block body %}
<style>
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
box-sizing: border-box;}
body {
font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background:#111;
  height:120vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container {
  width:100%;
  display:flex;
  padding:0 20px;
}

.slide{
  height:80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex:1;
  background-size: cover;
  background-position: center;
  background-no-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;

}

.slide a{
  color:#fff;
  position: absolute;
  font-size: 44px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex:10;
}

.slide.active a {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}</style>

    <div class="container">

    {% for item in category_quiz %}
  <div class="slide" style="background-image: url({{ item.image.url }});">
      <a href="{% url 'quiz:quiz_category_filter' item.slug  %}">{{ item.name }} | {{ item.slug }}</a>
  </div>

    {% endfor %}
</div>




<!--
    <div>
        Добавить
        <form action="add_new_category_quiz" method="POST">
            {% csrf_token %}

            <p>Имя:<input type="text" name="name" ></p>
            <p>Slug:<input type="text" name="slug" ></p>
            <p>Фото:<input type="file" name="image"></p>

            <button type="submit">Добавить</button>
        </form>

    </div>
-->

<script >


function SlideReview(){
    const slides = document.querySelectorAll('.slide')
    slides[5].classList.add('active')
for (const slide of slides){
  slide.addEventListener('click',()=>{
    clearActiveClasses()
    slide.classList.add('active')
  })
}

function clearActiveClasses() {
  slides.forEach((slide)=>{
    slide.classList.remove('active')
  })}}
SlideReview()


</script>
{% endblock body %}
