<!DOCTYPE html>
{% load static %}
<html lang="ru" style="font-family: PTSans;">
<head>
    <meta charset=utf-8">

    <title>{% block title %} {% endblock title %}</title>
    {% block header %} {% include "quiz/include/header.html" %} {% endblock header %}
</head>
<body>
    Вариант №
    {% block nav %}{% endblock nav %}
{% autoescape off %}


    <form action="" method="post">
        {% csrf_token %}
    {% block body %}
    {% endblock body %}

    {% block quiz1 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz1.html" %}
    {% endblock quiz1 %}

    {% block quiz2 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz2.html" %}
    {% endblock quiz2 %}

    {% block quiz3 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz3.html" %}
    {% endblock quiz3 %}

    {% block quiz4 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz4.html" %}
    {% endblock quiz4 %}

    {% block quiz5 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz5.html" %}
    {% endblock quiz5 %}

    {% block quiz6 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz6.html" %}
    {% endblock quiz6 %}

    {% block quiz7 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz7.html" %}
    {% endblock quiz7 %}

    {% block quiz8 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz8.html" %}
    {% endblock quiz8 %}

    {% block quiz9 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz9.html" %}
    {% endblock quiz9 %}

    {% block quiz10 %}
        {% include "quiz/template_randomaize_quiz_generation/quiz_oge/quiz10.html" %}
    {% endblock quiz10 %}

        <button type="submit"><b>отправить на проверку</b></button>
</form>
    <form action="" method="get">
        <button type="submit" name="send-pdf">send pdf </button>
    </form>

    {% endautoescape %}


    {% block footer %} {% include "quiz/include/footer.html" %}  {% endblock footer %}

</body>

</html>