{% extends 'lk/base.html' %}
{% load static %}
{% block body %}
 <div class="container">
<div class="row">
{% for user in users %}
    <div class="col-3" align="center">
    <div class="card" style="width: 18rem;">
        <a href="{% url 'lk_for_look2' user.username %}">
            <img src="{{ user.profiles.image_profile.url }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
        <a href="{% url 'lk_for_look2' user.username %}"><h5 class="card-title">{{ user.first_name }}</h5>
    <h5 class="card-title">{{ user.last_name }}</h5></a>
           <div >
    </div>
  </div>
    </div>
        <hr>
    </div>
{% endfor %}

    </div>
    </div>

{% endblock %}