{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} {% endblock title %}</title>
    {% block header %} {% include "quiz/include/header.html" %} {% endblock header %}
</head>
<body>
    <h1>base'h1'</h1>
    {% block nav %}{% endblock nav %}

    {% autoescape off %}
{{ context }}
    <!--- QUIZ номер 1 сделал(но нужно доработать)---->

<div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer1 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        <h4>ваш ответ: {{ context.result }}</h4>
        {% endfor %}
    </div>
</div>

    <!--- QUIZ номер 2 не сделал---->
<div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer2 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>

    <!--- QUIZ номер 3 не сделал---->
    <div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer3 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>

<!--- QUIZ номер 4 не сделал ---->
        <div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer4 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>

<!--- QUIZ номер 5 сделал ---->
<div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer5 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>


<!--- QUIZ номер 6 сделал ---->
<div class="container">
    {% for item in context.quiz.answer6 %}

    <div class="col-0">
        <h1>Задание№6({{ item.type_quiz }})</h1>
        <h3>Ниже приведена программа, записанная на языке программирование "Python".</h3>
        <div class="col-6">
         <table class="table table-bordered">
            <thead  class="thead-inverse">
                <tr>
                  <td scope="col"><h3>Python</h3></td>
                </tr>
                <tr>
                    <td>{{ item.quiz }} </td>
                </tr>
            </thead>
         </table>
        </div>

   <h3>Было проведено 9 запусков программы, при которых в качестве значений переменных s и t вводились следующие пары чисел:</h3>
   <h3>{{ item.variant }}</h3>
   <h3>Сколько было запусков, при которых программа напечатала {{ item.YES_OR_NO }}</h3>
    </div>
    <h2> правильный ответ" <i>{{ item.answer }}</i></h2>
    {% endfor %}
</div>


<!--- QUIZ номер 7 сделал ---->
        <div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer7 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>

<!--- QUIZ номер 8 сделал ---->
        <div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer8 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
          <div class="col-6">

    <table class="table table-bordered">
  <thead  class="thead-inverse">
    <tr>
      <td scope="col"><h3>Запрос</h3></td>
      <td scope="col"><h3>Количество страниц(тыс.)</h3></td>
    </tr>
      <tbody>
    <tr>

      <td><h4>{{ item.quiz_p.0.0 }}</h4></td>
      <td><h4>{{ item.quiz_p.0.1 }}</h4></td>
    </tr>
    <tr>
      <td><h4>{{ item.quiz_p.1.0 }}</h4></td>
      <td><h4>{{ item.quiz_p.1.1 }}</h4></td>
    </tr>
    <tr>
      <td><h4>{{ item.quiz_p.2.0 }}</h4></td>
      <td><h4>{{ item.quiz_p.2.1.0 }}</h4></td>
    </tr>
  </tbody>
</table>
</div>
         <h3>{{ item.quiz1 }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>
<!--- QUIZ номер 9 сделал ---->
<div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer9 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>

<!--- QUIZ номер 10 сделал ---->
<div class="container">
    <div class="col-0">
        {% for item in context.quiz.answer10 %}
        <h1>{{ item.type_quiz }}</h1>
        <h3>{{ item.quiz }}</h3>
        <h4>правильный ответ: <i>{{ item.answer }}</i></h4>
        {% endfor %}
    </div>
</div>


</div>

    {% endautoescape %}

    {% block footer %} {% include "bShop/include/footer.html" %}  {% endblock footer %}


</body>

</html>