
{% for item in answer4 %}

<div class="container card-body col-md-9 border border-primary shadow-lg p-3 mb-5 bg-body rounded">

  <h5>Задание № 4</h5>

   <h6>Между населёнными пунктами А, В, С, D, Е, F построены дороги, протяжённость которых (в километрах) приведена в таблице:</h6>

  <div class="col-6">
  <table class="table table-bordered">
  <tbody>

    <h6>{% for items in item.quiz %}</h6>
    <tr>
    {% for iter in items %}
      <td><h6>{{ iter }}</h6></td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
      </div>
          <h6>Определите длину кратчайшего пути между пунктами А и F. Передвигаться можно только по дорогам, протяжённость которых указана в таблице.</h6>
  <h5>Ответ:<input type="text" name="answer4" width="200" height="30"></h5>
</div>
{% endfor%}
