{% extends 'lk/base.html' %}

{% block body %}
{% load lk_tags %}
<div class="row">
<div class="col">
<div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
  <p align="right">{{ user_name }} подписки <a href="{% url 'lk_friendships' user_name %}"> ({% follower_count user_name %})</a></p>
  <p align="left">Подписчики <a href="{% url 'lk_followings' user_name %}">{% following_count user_name %} </a></p>
  <div class="shadow-lg p-3 mb-4 bg-body rounded">
            {% for item in profile %}
                 <p class="shadow-lg" align="center"><a href="{% url 'lk_for_look2' item.profile_friendshiop.user %}"><img src="{{ item.profile_friendshiop.image_profile.url }}" width="85">{{ item.profile_friendshiop.user.first_name }} {{ item.profile_friendshiop.user.last_name }}</a></p>
            {% endfor %}
  </div>
</div>
</div>



{% if user_name != user.username %}
<div class="col-auto">
  <form method="POST" name="friendship">
    {% csrf_token %}
    {{ form_add_friend }}
    {% if form_add_friend == "add" %}
    <button type="submit" value="{{ user_name }}" name="add_friend">добавить в друзья</button>
      {% elif form_add_friend == "del" %}
    <button type="submit" value="удалить" name="del_friend">удалить из друзей</button>
    {% endif %}
  </form>
  <button type="submit"><a href="{% url 'create_dialog' user_bio.id %}">написать сообщение</a></button>
{% endif %}

<div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 1340px;">
  <div class="row g-4">
    <div class="col-md-4 col-md-4 shadow-lg p-3 mb-4 bg-body rounded ">
        <img src="{{ user_bio.profiles.image_profile.url }}" alt="фото в обработке">
    </div>
    <div class="col-md-4 shadow-lg p-3 mb-4 bg-body rounded">
      <div class="card-body" style="text-align:center;">
        <h4 class="card-title">{{ user_bio.first_name }} {{ user_bio.last_name }}</h4>
        <hr>
        <h4 class="card-text" style="text-align:left;"><p><small class="text-muted">город: </small>{{ user_bio.profiles.city }}</p></h4>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="col-md-4 shadow-lg p-3 mb-4 bg-body rounded">
      <div class="card-body">
        <hr>
      </div>
    </div>
        <br>
  </div>
</div>
</div>

<div class="col">


</div>

</div>

{% endblock %}